<div class="row">
  <div class="col">
    <h1>*ngif</h1>
    <hr />

    <div *ngIf="mostrar" class="card text-bg-info mb-3" style="max-width: 100%">
      <div class="card-body">
        <h5 class="card-title">{{ frase.autor }}</h5>
        <p class="card-text">
          {{ frase.mensaje }}
        </p>
      </div>
    </div>
    <button (click)="mostrar = !mostrar" class="btn btn-outline-dark btn-block">
      Mostrar/Ocultar
    </button>
  </div>
  <div class="col">
    <h1>*ngfor</h1>
    <hr />
    <ul class="list-group">
      <li
        *ngFor="let cont of personajes; let i = index"
        class="list-group-item"
      >
        {{ 1 + i }} - {{ cont }}
      </li>
    </ul>
  </div>
</div>
